{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .skills{
        position: relative;
        top: 50px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        
    }
    .title2 a{
        text-align: center;
        font-size: 60px;
        margin-bottom: 130px;
        color: black;
        text-decoration: none;
        padding-left: 150px;
        padding-right: 150px;
    }
    .title2 a:active,
    .title2 a:hover{
        text-decoration: underline;
        letter-spacing: 4px;
        transition: 0.5s ease-out;
    }
    .skills ul{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }
    .skills ul li{
        list-style: none;
        margin: 20px;
        padding: 20px;
        height: 450px;
        width: 300px;
        overflow: hidden;
    }
    .skills ul li img{
        height: 300px;
        width: 300px;   
    }
    .skills ul li a{
        text-decoration: none;
        color: black;
    }
    .skills ul li:active,
    .skills ul li:hover{
        box-shadow: 0 0 10px 6px grey;
    }
    .skills ul li:active,
    .skills ul li:hover img{
        filter: invert(100%);
        border: 1px solid black;
    }
    .skills ul li:active,
    .skills ul li:hover .skillname{
        font-size: 25px;
        text-decoration: underline;
    }
    .skills .quote{
        font-family: cursive;
        padding-top: 20px;
        font-size: 15px;
        color: black;
    }
    /* projects */
    .projects{
        position: relative;
        top: 100px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        background-color: black;
    }
    .title3 a{
        text-align: center;
        font-size: 60px;
        padding-bottom: 130px;
        color: azure;
        text-decoration: none;
        padding-left: 150px;
        padding-right: 150px;
    }
    .title3 a:active,
    .title3 a:hover{
        text-decoration: underline;
        letter-spacing: 4px;
        transition: 0.5s ease-out;
    }
    .projects ul{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }
    .projects ul li{
        list-style: none;
        margin: 20px;
        padding: 20px;
        height: 200px;
        width: 230px;
    }
    .projects ul li a{
        text-decoration: none;
        color: azure;
    }
    .projects ul li:active,
    .projects ul li:hover{
        box-shadow: 0 0 10px 6px white;
    }
    .projects ul li:active,
    .projects ul li:hover img{
        filter: invert(100%);
        border: 1px solid azure;
    }
    .projects ul li:active,
    .projects ul li:hover .projectname{
        font-size: 25px;
        text-decoration: underline;
    }
    .projects .quote{
        font-family: cursive;
        padding-top: 20px;
        font-size: 15px;
        color: azure;
    }
    @media(max-width:600px){
        .skills{
            position: relative;
            top: 100px;
        }
        .projects{
            position: relative;
            top: 100px;
        }
    }
    /* intro */
    .about{
        position: relative;
        background-color: black;
        text-align: center;
        justify-content: center;
        color:azure;
        margin: 10px;
        padding: 10px;
        line-height: 30px;
        font-family: 'Lucida Sans',Verdana, sans-serif;
        letter-spacing: 3px;
    }
    .about h2 span{
        font-size: 35px;
        text-shadow: 0 10px 5px rgba(62,64,64);
    }
    .about li{
        list-style: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        margin-top: 20px;
    }
    .about li a{
        color: azure;
        text-decoration: none;
    }
    .about li a:active,
    .about li a:hover{
        text-decoration: underline;
    }
    .about .education{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 25px;
        text-align: center;
        justify-content: space-around;
    }
    .about .education li{
        height: 270px;
        width: 270px;
        box-shadow: 0  0 10px 3px rgba(62,64,64, 0.5);
        margin: 10px;
        padding: 10px;
    }
    .about .education li h1{
        font-size: 25px;
    }
    .about .education li h2{
        font-size: 20px;
        font-family: cursive;
        line-height: 20px;
    }
    .about .education li h3{
        font-size: 20px;
        font-family:'Gill Sans',sans-serif;
        line-height: 20px;
    }
    @media (max-width: 600px){
        .about{
            position: relative;
            top: 80px;
        }
        .title2 a{
            font-size: 32px;
        }
        .title3 a{
            font-size: 23px;
        }
        .nav ul{
            display: block;
        }
    }
    .form-control{
            position: relative;
            top: 50px;
            text-align: center;
            margin: 10px;
            padding: 10px;
            padding-left: 20px;
            font-size: 20px;
        }
        .form-control .heading{
            position: relative;
            top: 60px;
            padding: 10px;
            margin: 10px;
        }
    .bttn{
            position: relative;
            top: 60px;
            margin: 10px;
            padding: 10px;
            width: 250px;
            height: 60px;
            background: white;
            border-radius: 5px;
            font-size: 20px;
            border: 0.2px solid rgba(0,0,0,0.3);
            z-index: 99;
        }
        .bttn:active,
        .bttn:hover{
            background: rgba(0,0,0,0.3);
            color: white;
            border: none;
        }
        .social-links ul{
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            justify-content: center;
            margin-top: 30px;
        }
        .social-links ul li{
            margin: 20px;
            padding: 20px;
        }
        .social-links ul li a{
            font-size: 40px;
        }
        .social-links ul li a:active,
        .social-links ul li a:hover{
            color: rgb(8, 101, 158);
            transition: all 0.2s ease;
        }
</style>
<br>
    {% block intro %}
    {% include 'intro.html' %}
    {% endblock intro %}
<section class="about" id="about">
    <h2>Hi..Myself <span>Trinadh Ravuri</span></h2>
    <h2>I started my career in IT in 2016.</h2>
    <h2>I have worked in multiple domains:</h2>
    <ul class="links">
        <li><a href="{% url 'python-dev' %}">Python Development</a></li>
        <li><a href="{% url 'allprojects' %}">Automation Testing</a></li>
        <li><a href="{% url 'allprojects' %}">Manual Testing</a></li>
        <li><a href="{% url 'allprojects' %}">System Adminstration</a></li>
    </ul>
    <h2>I am very interested in Python Development</h2>
    <h2>My Education Details</h2>
    <ul class="education">
        <li>
            <h1>10Th</h1>
            <h2>Municipal High School</h2>
            <h3>Narasaraopet</h3>
            <h2>Percent : 83%</h2>
        </li>
        <li>
            <h1>Intermediate</h1>
            <h2>Sarada College</h2>
            <h3>Narasaraopet</h3>
            <h2>Percent : 74%</h2>
        </li>
        <li>
            <h1>B Sc (Electronics)</h1>
            <h2>S S & N College</h2>
            <h3>Narasaraopet</h3>
            <h2>Percent : 68%</h2>
        </li>
        <li>
            <h1>Master in Computer Applications (M C A)</h1>
            <h2>Holy Mary</h2>
            <h3></h3>
            <h2>Percent : 62%</h2>
        </li>
    </ul>
    <div class="social-links">
            <ul>
                <li><a href="https://www.facebook.com/trinadh.acharya.5/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/trinadhachary"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/ravuri-achari-95b98b1a/"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/trinadhravuri"><i class="fa-brands fa-github"></i></a></li>
            </ul>
    </div>
</section>
<section class="skills">
    <h1 class="title2" title="Click Here for ALL SKILLS"><a href="{% url 'allskills' %}">My SKILLS</a></h1>
    <div>
        <ul>
            {% for skill in skills %}
            <li>
            <a href="{% url 'singleskill' skill.id %}"><img src="{{skill.skill_img.url}}" alt=""></a>
            <h1 class="skillname"><a href="">{{skill.skill_name}}</a></h1>
            <h2 class="quote">{{skill.skill_quote}}</h2>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="projects">
    <h1 class="title3" title="Click Here for ALL PROJECTS"><a href="{% url 'allprojects' %}">My PROJECTSS</a></h1>
    <div>
        <ul>
            {% for project in projects %}
            <li>
            <!--<a href=""><img src="{{project.project_img.url}}" alt=""></a>-->
            <h1 class="projectname"><a href="{% url 'singleproject' project.id %}">{{project.project_name}}</a></h1>
            <h2 class="quote">{{project.Project_quote}}</h2>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<br>
<section class="form-control">
    <h1 class="heading">Please Leave a Message,I will be very Responsive..</h1>
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="field-tag">
        {{field}}
    </div>
    {% endfor %}
    <button type="submit" class="bttn">SEND</button>
</form>
</section>
<br>

{% endblock content %}
