{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    .singleproject{
        position: relative;
        top: 180px;
        margin: 10px;
        padding: 10px;
    }
    .singleproject-head{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: center;
    }
    .singleproject-head img{
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
        height: 500px;
        width: 800px;
    }
    .singleproject-head .name{
        font-size: 80px;
        text-shadow: 0 15px 5px rgba(0,0,0,0.5);
    }
    .team{
        font-size: 40px;
    }
    .team span{
        color: crimson;
    }
    .roles{
        text-align: center;
        line-height: 30px;
    }
    .roles h2{
        font-size: 45px;
        text-decoration: underline;
    }
    .roles h3{
        white-space:pre-line;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 3px;
        font-weight: lighter;
    }
    .single-project-skills ul{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 20px;
        padding: 20px;
    }
    .single-project-skills ul li{
        margin: 20px;
        padding: 20px;
        list-style: none;
    }
    .single-project-skills ul li a{
        margin: 20px;
        padding: 20px;
        text-decoration: none;
        font-size: 30px;
        color:black
    }
    .single-project-skills ul li:active,
    .single-project-skills ul li:hover{
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    }
    .single-project-skills ul li:active,
    .single-project-skills ul li:hover a{
        letter-spacing: 2px;
    }
    @media (max-width: 700px){
        .singleproject-head img{
            position: relative;
            top: 80px;
            height: 500px;
            width: 500px;
        }
        .singleproject-head .name{
            position: relative;
            top: 100px;
            font-size: 40px;
        }
        .team{
            position: relative;
            top: 100px;
        }
        .roles{
            position: relative;
            top: 100px;
        }
        .single-project-skills{
            position: relative;
            top: 100px;
            margin: 5px;
            padding: 5px;
        }
        .single-project-skills ul li a{
            margin: 5px;
            padding: 5px;
            font-size: 20px;
        }
    }
</style>
<section class="singleproject">
    <div class="singleproject-head">
        <img src="{{project.project_img.url}}" alt="">
        <h1 class="name">{{project.project_name}}</h1>
    </div>
    <h3 class="team">Team Size : <span>{{project.project_teamsize}}</span></h3>
    <div class="roles">
        <h2>Roles and Responcibilities:</h2>
        <h3>{{project.project_roles}}</h3>
    </div>
    <div class="single-project-skills">
        <ul>
            {% for skill in skills %}
            <li><a href="{% url 'singleskill' skill.id %}">{{skill}}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
<br>
<br>
{% endblock %}