<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'images/tl.jpg'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trinadh Ravuri</title>
</head>
<body>
    <section class="header">
        <div class="name-logo">
            <img src="{% static 'images/123.png'%}" alt="">
            <h1><span>T</span>rinadh <span>R</span>avuri</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Me</a></li>
                <li><a href="{% url 'allskills' %}">All Skills</a></li>
                <li><a href="">All Projects</a></li>
                <li><a href="">Contact Me</a></li>
            </ul>
        </div>
    </section>
    <br>
    {% block content %}
    {% endblock %}
    <!-- footer starts -->
    <hr>
    <section class="footer">
        <div class="address">
            <ul>
                <li><h1>Address</h1></li>
                <li><h3>Narasaraopet</h3></li>
                <li><h3>Guntur</h3></li>
                <li><h3>Andhra Pradesh</h3></li>
                <li><h3>522601</h3></li>
            </ul>
        </div>
        <div class="fo-con">
            <h1>Contact</h1>
            <h3><a href="">call me <i class="fa-solid fa-phone"></i></a></h3>
            <h3><a href="">call me <i class="fa-solid fa-envelope"></i></a></h3>
        </div>
    </section>
    <!-- footer ends -->
</body>
</html>